.navbar-light .navbar-nav .nav-link {
	padding: 10px;
	margin: 3px;
	color: $color-naranja;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 16px;
	font-family: 'Hind', sans-serif;
    font-weight: bold;
	&:hover{
		color: $color-verde;
	}
	
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $color-verde;
}

.btn-outline-success {
    color: $color-verde;
    border-color: $color-naranja;
}
